body{
  margin: 0;
}
p{
  margin-top: 0;
}
.top-container{
  background-color:orange;
  height: 100px;
  width: 100px;
  border: solid 10px;
  padding: 20px;
}
.middle-cont{
  height:100px;
  width:100px;
  background-color: red;
  border:solid 10px;
  margin-left: 160px;

}
.bottom-cont{
  height:100px;
  width:100px;
  background-color: blue;
  border: solid 20px;
  margin-left: 280px;
}
.top-container:hover{
  background-color: white;
  border: vanish;
}
